launchpad-py==0.9.1
# pygame==2.5.2 # this only works on intel mac
# For m1 mac -> clone this repo, rebuild this -> python3 setup.py cython
# then install from there.
# git+https://github.com/pygame/pygame.git
stockfish==3.28.0
chess==1.10.0